*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items:center;
    min-height:150px;
}
.nav1{
    display: flex;
    gap:10px;
}
.nav2{
    display: flex;
    gap:30px;
}
.nav2 p{
    font-size: 21px;
}
.nav2 p:hover{
    color:green;
}
.nav1 span{
    color:rgb(10, 100, 10);
}
.nav3 button{
    background-color: green;
    color:white;
    border:none;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;
    padding-right:15px;
    border-radius: 8px;
    font-size: 20px;
}
.uni{
    margin-top:30px;
}
input{
    display: none;
}
input:checked~.nav2{
    
    left:2%;
}

label{
    display: none;


}

@media only screen and (min-width:300px) and (max-width:860px){
    .nav3 button{
        display: none;
    }
    .nav2{
        position: fixed; 
        top:100px;
        width:98%;
        left:100%;
        height:90vh;
        flex-direction: column; 
        align-items: center;
        padding-top:50px;
        z-index: 999;
        background-color: white;
    }
    label{
        display: block;
    }
   
}
@media only screen and (min-width:600px) and (max-width:1000px){
    .nav3 button{
        display: none;
    }
    
}
.div1{
    background: linear-gradient(to left,rgba(255,255,255,0), rgba(255,255,255,1)), url("bgimg1.png") no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height:105vh;
    padding:90px; 
}
.firstdiv{
    width:320px;
    position: relative;
}
.firstdiv p{
    margin-top:10px;
    font-size: 19px;
}
.firstdiv h1{
    letter-spacing: 2px;
}
.circle{
    position: absolute;
    right:-30px;
    bottom:-90px;
}
.arrow{
    position: absolute;
    right:15px;
    bottom:-40px;
}
.firstdiv button{
    background-color: green;
    color:white;
    border:none;
    padding-right:10px;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:5px;
    margin-top:20px;
}
.bor1{
    box-shadow: 1px 3px 1px 1px gainsboro;
}
@media only screen and (min-width:300px) and (max-width:600px){
    .circle{
        display: none;
    }
    .arrow{
        display: none;
    }
}

.border{
    display: flex;
    gap:30px;
    position: absolute;
    bottom:-270px;
    left:190px;
}
.bor1{
    min-height:220px;
    width:370px;
    background-color: white;
    color:green;
    padding:20px;
}
 .one h1{
        font-size: 25px;
    }
.one{
    display: flex;
    gap:10px;
}
.bor1 button{
    color:green;
    background-color: transparent;
    border:none;
    margin-top:20px;
    font-size: 18px;
}
.bor1 p{
    color:black;
    margin-top:20px;
    letter-spacing: 0.3px;
}
@media only screen and (min-width:300px) and (max-width:600px){
    .border{
        flex-wrap: wrap;
        left:70px;
    }
    .bor1{
        width:80%;
    }
    .bor2{
        display: none;
    }
    .bor3{
        display: none;
    }
    
    
}
@media only screen and (min-width:600px) and (max-width:900px){
        .border{
        flex-wrap: wrap;
        left:50px;
        bottom: -300px;
    }
    .bor3{
        display: none;
    }
    .bor1{
        width:45%;
    }

}
@media only screen and (min-width:650px) and (max-width:765px){
    .one h1{
        font-size: 25px;
    }
}
@media only screen and (min-width:600px) and (max-width:650px){
    .one h1{
        font-size: 22px;
    }
}
@media only screen and (min-width:900px) and (max-width:1250px){
    .border{
        flex-wrap: wrap;
        left:50px;
        bottom: -300px;
    }
    .bor1{
        width:30%;

    }
}
.div2{
    min-height:100vh;
    color:green;
    padding:30px;
    
}
.order{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    min-height:100vh;
    width:60%;
}

 .or2{
    position: relative;
}
.cls{
    position: absolute;
    top:-110px;
   
}
.gra{
    position: absolute;
    top:-150px;
    left:205px;
}
.green{
    position: absolute;
    left:325px;
    top:72px;
} 
.or1{
    width:60%;
}
.btn1{
    background-color: green;
    color:white;
    border:none;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-top:30px;
    margin-right:30px;
}
.btn2{
    background-color: rgb(254, 245, 233);
    color:green;
    border:none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* padding-top:5px; */
    padding-right:20px;
}
.rocket{
    height:35px;
    width:35px;
    background-color: green;
    color:white ;
    border-radius: 50%;
    margin-right:5px;
    padding-top:8px;
}

@media only screen and (min-width:300px) and (max-width:600px){
    .order{
        flex-direction: column;
    }
    .or2{
        margin-top:200px;
        width:70%;
    }
    .or1{
        text-align: center;
        width:100%;
        margin-top:120px;
        margin-left:100px;
    }
    
    .or1 p{
    width:100%;
}
.back{
    width:130px;
    height:320px;
}
.front1{
    width:190px;
    height:170px;
}
.front2{
    width:125px;
    height:190px;
}
.gra{
    left:80px;
}
.green{
    left:140px;
    top:20px;
}
.or1 h1{
    width:100%;
}
.div2{
    padding:0px;
}

}
@media only screen and (min-width:450px) and (max-width:600px){
    .or1{
        margin-left:200px;
    }
}
@media only screen and (min-width:350px) and (max-width:430px){
    .back{
    width:160px;
    height:330px;
}
.front1{
    width:210px;
    height:180px;
}
.front2{
    width:140px;
    height:190px;
}
.gra{
    left:110px;
}
.green{
    left:171px;
    top:30px;
}
}
@media only screen and (min-width:450px) and (max-width:550px){
    .back{
    width:170px;
    height:350px;
}
.front1{
    width:250px;
    height:190px;
}
.front2{
    width:170px;
    height:200px;
}
.gra{
    left:110px;
}
.green{
    left:180px;
    top:40px;
}
}
@media only screen and (min-width:550px) and (max-width:600px){
    .back{
    width:200px;
    height:350px;
}
.front1{
    width:300px;
    height:190px;
}
.front2{
    width:210px;
    height:200px;
}
.gra{
    left:140px;
}
.green{
    left:215px;
    top:40px;
}
}
@media only screen and (min-width:600px) and (max-width:900px){
    .order{
        flex-direction: column;
    }
    .or2{
        margin-top:200px;
        width:50%;
    }
    .or1{
        text-align: center;
        width:100%;
        margin-top: 100px;
        margin-left:250px;
    }
}
@media only screen and (min-width:900px) and (max-width:1300px){
    .order{
        flex-wrap: wrap;
    } 
}
@media only screen and (min-width:600px) and (max-width:670px){
    .or2{
        width:70%;
    }
}
@media only screen and (min-width:320px) and (max-width:500px){
    .div1{
        padding:40px;
    }
}
@media only screen and (min-width:300px) and (max-width:350px){
    .firstdiv button{
        margin-bottom: 20px;
    }
}
@media only screen and (min-width:900px) and (max-width:1040px){
    .back{
        width:280px;
    }
    .front1{
        width:295px;
    }
    .front2{
        width:155px;
    }
    .gra{
        left:160px;
    }
    .green{
        left:290px;
        top:60px;
    }
}
@media only screen and (min-width:300px) and (max-width:525px){
    .btn2{
        margin-top:30px;
    }
}
.div3{
    min-height:100vh;
    background-color: rgba(14, 84, 74, 0.83);
    color:white;
    padding-bottom: 20px;
}
.thirone{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    padding-top:50px;
    margin-left:200px;
}
.thirtwo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;
    margin-top:50px;
}
.g1{
    width:250px;
    border:2px solid white;
    padding:20px;
    text-align: center;
    position: relative;
}
.con h1{
    font-size: 50px;
    width:70%;
}
.con p{
    font-size: 25px;
    width:90%;
}
.g1 h2{
    margin-top:40px;
    margin-bottom: 10px;
}
.g1 button{
    margin-top:30px;
    margin-bottom: 10px;
    background-color: transparent;
    color:white;
    font-size: 20px;
    border:none;
}
.deg{
    position: absolute;
    top:-30px;
    left:90px;
}
.grad{
    width:485px;
}
@media only screen and (min-width:300px) and (max-width:600px){
    .thirone{
        flex-wrap: wrap;
    }
    .thirtwo{
        flex-wrap: wrap;
    }
    .div3{
        margin-top:290px;
    }
    .grad{
        width:90%;
        order:2;
    }
    .thirone{
        margin-left:20px;
    }
    .thirtwo{
        order:3;
    }
    .con{
        order:1;
    }
    .con p{
    font-size: 20px;
    
}
.con h1{
    font-size: 40px;
}
}
@media only screen and (min-width:600px) and (max-width:900px){
    .thirone{
        flex-wrap: wrap;
    }
    .thirtwo{
        flex-wrap: wrap;
    }
    .div3{
        margin-top:290px;
    }
    .grad{
        width:90%;
        order:2;
    }
    .thirone{
        margin-left:20px;
    }
    .thirtwo{
        order:3;
    }
    .con{
        order:1;
    }
}
@media only screen and (min-width:900px) and (max-width:1250px){
    .thirone{
        flex-wrap: wrap;
    }
    .thirtwo{
        flex-wrap: wrap;
    }
    .thirone{
        margin-left:10px;
    }
    .con{
        text-align: center;
        width:70%;
        margin-left:100px;
    }
    .con h1{
        width:80%;
    }
    
}
.div4{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top:50px;
}
.form{
    /* height:490px; */
    width:420px;
    background-color:rgba(251, 247, 236, 1) ;
    position: absolute;
    left:300px;
    z-index: 999;
   padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form h2{
    color:green;
    font-size: 35px;
    
}
.form p{
    width:360px;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top:15px
}
.pair{
    height:702px;
    width:600px;
    position: absolute;
    left:650px;
}
.one{
    background-color: transparent;
    border:none;
    color:green;
    padding-top:15px;
     padding-bottom:15px;
     padding-left:25px;
     padding-right:25px;
    border:2px solid green;
    font-size: 15px;
    margin-top:10px;
}
@media only screen and (min-width:300px) and (max-width:600px){
    .form{
        left:20px;
        width:90%;
    }
    .pair{
        left:0px;
        width:100%;
    }
    .form p{
        width:100%;
    }
}
@media only screen and (min-width:600px) and (max-width:900px){
    .form{
        left:10px;
        width:60%;
    }
    .pair{
        left:100px;
        width:80%;
    }
}
@media only screen and (min-width:900px) and (max-width:1000px){
    .form{
        left:80px;
    }
    .pair{
        left:290px;
       
    }
}
@media only screen and (min-width:1000px) and (max-width:1250px){
    .pair{
       left: 400px;
    }
    .form{
    left:70px;
    }
}
.div5{
    min-height:80vh;
    background-image: url(./div5.png);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}
.div6{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.six1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-bottom: 40px;
}
.six2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    width:60%;
}
.sixcon{
    height:348px;
    width:380px;
    color:white;
    background-color: rgba(14, 84, 74, 1);
    padding:20px;
}
.six2 button{
    background-color: green;
    color:white;
    border:none;
    padding:10px;
    border-radius: 5px;
}
.sixcon1 p{
    width:500px;
    font-size: 20px;
}
.sixcon1 h1{
    color: rgba(14, 84, 74, 1);
    font-size: 45px;
    margin-bottom: 10px;
}
.sixcon h2{
    font-size: 35px;
}
.sixcon p{
    font-size: 22px;
    margin-top:10px;
    margin-bottom: 20px;
}
.mail{
    background-color: rgb(43, 136, 122);
    color:white;
    border:none;
    width:300px;
    height:43px;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top:20px;
}
.sub{
    background-color: green;
    color: white;
    border:none;
    width:300px;
    height:43px;
    font-size: 20px;
}
.read{
    width:598px;
    height:348px;
}
@media only screen and (min-width:300px) and (max-width:600px){
    .siximg{
        display: none;
    }
    .six1{
        width:100%;
    }
    .six2{
        flex-direction: column;
    }
    .sixcon{
        width:100%;
    }
    .sixcon1 p{
        width:100%;
    }
    .mail{
        width:90%;
    }
    .sub{
        width:90%;
    }
}
@media only screen and (min-width:600px) and (max-width:900px){
    .siximg{
        display: none;
    }
    .sixcon{
        width:80%;
    }
    .mail{
        width:100%;
    }
    .sub{
        width:100%;
    }
    .six2{
        flex-direction: column;
    }
}
@media only screen and (min-width:900px) and (max-width:1200px){
    .six2{
        flex-direction: column;
    }
    .read{
        width:500px;
    }
}
.div7{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.seven{
    position: absolute;
    left:300px;
}
.sevbox{
    position: absolute;
    width:680px;
    background-color: rgba(251, 247, 236, 1);
    padding:40px;
    left:650px;
}
.thirbtn{
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    margin-bottom: 20px;
}
.b1{
    background-color: green;
    color:white;
    border:none;
    width:150px;
    padding-top:15px;
    padding-bottom: 15px;
    border-radius: 7px;
    font-size: 20px;
}
.b2{
    background-color: white;
    border:none;
    width:150px;
    padding-top:15px;
    padding-bottom: 15px;
    border-radius: 7px;
    font-size: 20px;
    
}
.sevbox h1{
    color:green;
    font-size: 40px;
    width:500px;
    margin-bottom: 10px;
}
.sevbox p{
    font-size: 25px;
    width:600px;
}
.edu{
    margin-bottom: 20px;
}
@media only screen and (min-width:300px) and (max-width:600px){
    .seven{
        display: none;
    }
    .thirbtn{
        gap:20px;
    }
    .sevbox{
        width:100%;
        left:0px;
    }
    .b1{
        width:30%;
        padding-left:5px;
        padding-right:5px;
        font-size: 15px;
    }
    .b2{
        width:33%;
        padding-left:5px;
        padding-right:5px;
        font-size: 15px;
    }
    .sevbox p{
        width:100%;
        font-size: 18px;
    }
    .sevbox h1{
        width:100%;
        font-size: 30px;
    }
}
@media only screen and (min-width:600px) and (max-width:900px){
    .seven{
        display: none;
    }
    .sevbox{
        width:100%;
        left:0px;
    }
}
@media only screen and (min-width:900px) and (max-width:1020px){
    .seven{
        width:380px;
        left:20px;

    }
    .sevbox{
        width:650px;
        left:250px;
    }
}
@media only screen and (min-width:1020px) and (max-width:1250px){
    .seven{
        width:400px;
        left:60px;
    }
    .sevbox{
        width:650px;
        left:350px;
    }

}
.div8{
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.walk{
    position: relative;
}
.form1{
    position: absolute;
    /* height:500px; */
    width:600px;
    background-color: rgba(0, 76, 63, 1);
    left:200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
in2{
    display: block;
}
.in1{
    display: flex;
}
.in2{
    background-color: transparent;
    border:2px solid rgb(161, 159, 159);
    margin-top: 20px;
    margin-right:20px;
    padding-top:15px;
    padding-bottom: 15px;
    padding-left: 10px;
    width:250px;
    border-radius: 5px;
    display: block;
}
input::placeholder{
    color:white;
}
.form1 button{
    width:400px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    background-color: rgba(0, 127, 97, 1);
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
}
@media only screen and (min-width:300px) and (max-width:600px){
    .walk{
        display: none;
    }
    .form1{
        width:100%;
        left:0px;
    }
    .in1{
        flex-wrap: wrap;
    }
    .form1 button{
        width:90%;
    }
    .in2{
        margin-left:25px;
        width:90%;
    }
}
@media only screen and (min-width:600px) and (max-width:900px){
    .walk{
        width:100%;
         height:550px;
    }
    .form1{
        width:80%;
        left:50px;
       
    }
    .in2{
        width:45%;
    }
}
@media only screen and (min-width:900px) and (max-width:1250px){
    .walk{
        width:100%;
    }
    .form1{
        width:60%;
        left:50px;
       
    }
}
.div9{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div9 h1{
    font-size: 70px;
    width:55%;
    color: rgba(14, 101, 43, 1);
    text-align: center;
    
}
.in8{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    margin-top:50px;
}
.eight{
    position: relative;
}
.eightcon{
    position: absolute;
    height:200px;
    width:300px;
    background-color: rgba(251, 247, 236, 1);
    top:130px;
    left:20px;
    padding:20px;
}
@media only screen and (min-width:300px) and (max-width:600px){
    .in8{
        flex-wrap: wrap;
    }
     .eight{
        margin-top:100px;
    }
    .div9 h1{
        font-size: 40px;
        margin-top: 30px;
    }
}
@media only screen and (min-width:600px) and (max-width:900px){
    .in8{
        flex-wrap: wrap;
    }
    .eight{
        margin-top:100px;
    }
}
@media only screen and (min-width:900px) and (max-width:1150px){
    .in8{
        flex-wrap: wrap;
    }
    .eight{
        margin-top:100px;
    }
}
.eightcon button{
    background-color: transparent;
    border:none;
    color:green;
    font-size: 15px;
}
.eightcon h2{
    color: green;
    margin-top:10px;
    margin-bottom: 10px;
}
footer{
    min-height:70vh;
    background-image: url(./final.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-top: 100px;
}
.foot1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    margin-bottom: 50px;
    
}
.foot2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.line1{
    border-top: 2px solid white;
    width:300px;
}
.con1 p{
    width:500px;
    font-size: 20px;
    padding-top: 10px;
}
.con4 p{
    width: 350px;
    font-size: 18px;
    padding-top: 5px;
}
.con2 p{
    padding-bottom: 5px;
}
.con3 p{
    padding-bottom: 5px;
}
.i{
    font-size: 30px;
}

.con4 button{
    background-color: white;
    border: none;
    width:300px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:30px;
}
@media only screen and (min-width:300px) and (max-width:600px){
    .foot1{
    flex-wrap: wrap;
}
.con1 p{
    width:300px;
}
.con4 p{
    width:300px;
}
footer{
    margin-top: 100px;
    padding-left:20px;
     padding-left:20px;
     padding-top:50px;
}
.line1{
    width:50px;
}
}
@media only screen and (min-width:600px) and (max-width:900px){
    .foot1{
    flex-wrap: wrap;
}
footer{
    margin-top: 150px;
    padding-left:20px;
     padding-right:20px;
      padding-top:50px;
}
.line1{
    width:30%;
}
.con4 p{
    width:300px;
}
}
@media only screen and (min-width:600px) and (max-width:640px){
    .sevbox p{
        width:550px;
    }
}
@media only screen and (min-width:900px) and (max-width:1200px){
    footer{
        margin-top: 150px;
    }
    .foot1{
        flex-wrap: wrap;
    }
}
a{
    text-decoration: none;
    color:black;
}
@media only screen and (min-width:320px) and (max-width:321px){
    .img8{
        width:320px;
    }
    .con4 button{
        width:280px;
    }
}